<div>
    <div class="modal-header">
        <h3 class="modal-title">{{book.title}}</h3>
    </div>
    <div class="modal-body">
        <p class="pull-down">Dscription: {{book.description}}</p>
        <p class="pull-down ">Author: {{book.author.firstName}} {{book.author.lastName}}</p>

        <p class="pull-down pull-right">Price: {{book.price}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>