<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>AdminPage</title>
    <script src="/javascripts/jquery-2.1.3.js"></script>
    <script src="/javascripts/angular/angular.min.js"></script>

    <script src="/javascripts/angular/booksapp.js"></script>
    <script src="/javascripts/angular/services/booksFactory.js"></script>
    <script src="/javascripts/angular/controllers/booksController.js"></script>
    <script src="/javascripts/angular/controllers/categoryController.js"></script>
    <script src="/javascripts/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="/javascripts/angular/controllers/modalController.js"></script>
    <script src="/javascripts/angular/controllers/addEditModalController.js"></script>
    <script src="/javascripts/angular/controllers/addEditAuthorModalController.js"></script>
    <script src="/javascripts/bootstrap/bootstrap.js"></script>

    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/ui.css"/>
</head>
<body>
<div ng-app="booksApp" ng-controller="booksController">

    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand">Book Store</span>
            </div>
        </div>
    </nav>
    <div class="container" ng-controller="modalController">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" ng-controller="categoryController">
                <div class="list-group">
                    <a href="#{{category}}" class="list-group-item" ng-repeat="category in categories"
                       ng-click="SetCategory(this.category)">{{category}}</a>
                </div>
            </div>
            <div>
                <div class="col-xs-12 col-sm-9">
                    <div class="row">
                        <tabset>
                            <tab heading="Books">
                                <div>
                                    <div>
                                        <button type="button" class="btn btn-success" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"
                                                  ng-click="openAdd()">Add</span>
                                        </button>
                                    </div>
                                    <div >
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Title</th>
                                                <th>Price</th>
                                                <th>Description</th>
                                                <th>Date Of Publication</th>
                                                <th>Publishing House</th>
                                                <th>Category</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="book in books" class="text-overflow">
                                                <td>{{$index+1}}</td>
                                                <td>{{book.title}}</td>
                                                <td>{{book.price}}</td>
                                                <td>{{book.description}}</td>
                                                <td>{{book.dateOfPublication}}</td>
                                                <td>{{book.publishingHouse}}</td>
                                                <td>{{book.category}}</td>
                                                <td>
                                                    <button type="button" class="btn btn-default"
                                                            aria-label="Left Align"
                                                            ng-click="openEdit(this.book)">
                                                        <span class="glyphicon glyphicon-edit"
                                                              aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default"
                                                            aria-label="Left Align"
                                                            ng-click="RemoveBook(this.book)">
                                                        <span class="glyphicon glyphicon-remove"
                                                              aria-hidden="true"></span>
                                                    </button>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </tab>

                            <tab heading="Authors">
                                <div>
                                    <div>
                                        <button type="button" class="btn btn-success" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"
                                                  ng-click="openAddAuthor()">Add</span>
                                        </button>
                                    </div>
                                    <div class="margintop10">
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>First name</th>
                                                <th>Last name</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="author in authors" class="text-overflow">
                                                <td>{{$index+1}}</td>
                                                <td>{{author.firstName}}</td>
                                                <td>{{author.lastName}}</td>
                                                <td>
                                                    <button type="button" class="btn btn-default"
                                                            aria-label="Left Align"
                                                            ng-click="openEditAuthor(this.author)">
                                                        <span class="glyphicon glyphicon-edit"
                                                              aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default"
                                                            aria-label="Left Align"
                                                            ng-click="RemoveAuthor(this.author)">
                                                        <span class="glyphicon glyphicon-remove"
                                                              aria-hidden="true"></span>
                                                    </button>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="Orders">
                                <div>
                                    <div>
                                        <button type="button" class="btn btn-success" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"
                                                  ng-click="openAddAuthor()">Add</span>
                                        </button>
                                    </div>
                                    <div class="margintop10">
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>First name</th>
                                                    <th>Last name</th>
                                                    <th>Phone</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="order in orders" class="text-overflow">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{order.customer.firstName}}</td>
                                                    <td>{{order.customer.lastName}}</td>
                                                    <td>{{order.customer.phone}}</td>
                                                    <td>
                                                        
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                </tab>
</tabset>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <footer>
            <p>&copy; Book Store, 2015</p>
        </footer>

    </div>
</div>
</body>
</html>

