<script src="/javascripts/jquery-2.1.3.js"></script>
<script src="/javascripts/angular.min.js"></script>
<script src="/javascripts/UI/Books.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css'/>

<div ng-app="booksApp">
    <div ng-controller="booksController">
        <ul ng-repeat="item in books">
            <li>{{item}}</li>
        </ul>
    </div>
</div>