<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>BookStore</title>
    <script src="/javascripts/jquery-2.1.3.js"></script>
    <script src="/javascripts/angular/angular.min.js"></script>

    <script src="/javascripts/angular/booksapp.js"></script>
    <script src="/javascripts/angular/services/booksFactory.js"></script>
    <script src="/javascripts/angular/controllers/booksController.js"></script>
    <script src="/javascripts/angular/controllers/categoryController.js"></script>

    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/ui.css"/>
</head>
<body>
<div ng-app="booksApp" ng-controller="booksController">

    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand">Book Store</span>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" ng-controller="categoryController">
                <div class="list-group">
                    <a href="#{{category}}" class="list-group-item" ng-repeat="category in categories"
                      ng-click="SetCategory(this.category)">{{category}}</a>
                </div>
            </div>
            <div>
                <div class="col-xs-12 col-sm-9">
                    <div class="row">
                        <div class="col-xs-6 col-lg-4" ng-repeat="book in books">
                            <h2>{{book.title}}</h2>

                            <p class="pull-down">Price:{{book.price}}</p>

                            <p><a class="btn btn-default lead">View details &raquo;</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <footer>
            <p>&copy; Book Store, 2015</p>
        </footer>

    </div>
</div>
</body>
</html>

