body {
    margin-top: 60px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-bottom: 1px solid #ccc;

    padding: 0;
    width: 95%;
    margin-left: 2.5%;
}

.text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.margintop10{
    margin-top: 10px;
}